/* Color */
/* F0FF42: Yellow 
82CD47: Green 1 
54B435: Green 2 
379237: Green 3 

/* O1: #FA8405 */
/* O2: #FA8405
O3: #FA8405 */

/* Reset */

/* Title Font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

h1, h2, h3{
    text-transform: capitalize;
}

body{
    /* font-family: 'Raleway', sans-serif; */
}


/* Utiity Classes */
.clr{
    clear: both
}

.logo{
    margin: 0 1.2rem;
    padding: 0.75rem 0.5rem;
    float: left;
    font-family: 'Tilt Prism', cursive;
    font-size: 1.75rem;
}

.btn{
    display: block;
    padding: 0.5rem;   
    text-align: center;
    /* background-color: #FA8405; */
    color: black;
}

.btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    scale: 1.1;

}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.title{
    color: white;
    padding: 0.25rem;
    margin: 0.25rem;
    /* font-family: 'Sono', sans-serif; */
}

.grid-container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.grid-container-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

/* Header */

/* Nav Bar */
#navbar{
    /* background: #FA8405; */
    overflow: auto;
}

#navbar .logo a{
    color:#FA8405;
}


/* Showcase */
header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./img/Master.jpg') center center/cover no-repeat;
    height: 100vh;
    position: relative;
}

header #showcase .poster{
    position: absolute;
    bottom: 15%;
    left: 75%;
    transform: translate(-50%, -50%);
}

header #showcase .poster .content{
    margin: 0.75rem;
    padding: 0.75rem;
    text-align: center;
    width: 50vw;
    font-family: 'Cormorant Garamond', serif;
    align-items: center;
    /* border: white solid 3px; */
}

header #showcase .poster .content h2{
    margin: 0.75rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

header #showcase .poster .content a{
    padding: 0.75rem;
    font-family: 'Tilt Prism', cursive;
    font-size: 3rem;
    color: #FA8405;
}


/* Options */

.Options{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.grid-container .grid-items{
    margin: 1rem;
    padding: 1rem;
    height: auto;
    width: auto; 
}


.grid-container .grid-items img{
    display: block;
    margin: 0 auto;
    height: 15rem; 
    width: 15rem; 
}


.grid-container .grid-items a{
    margin: 0.25rem;
}

/* Temple List */

#Temple-Page .Page-title{
    text-align: center;
    padding: 0.75rem;
    margin: auto;    
}

#Temple-Page .Page-title h1{
    margin: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 2rem;    
}

#Temple-Page .Page-title p{
    padding: 1rem;
    width: 50vw;
    margin: auto;
    line-height: 1.5rem;
}

/* Temple Listing */

#Temple-list .grid-container .grid-items{
    height: auto;
    background-color: #E5E4E2;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

#Temple-list .grid-container .grid-items:hover{
    scale: 1.1;
}

#Temple-list .grid-container .grid-items img{
    width: 11rem;
    height: 12rem;
    padding: 0.25rem;
}

#Temple-list .grid-container .grid-items h2{
    text-align: center;
    padding: 0.5rem;
    margin: 0.25rem;
}

#Temple-list .grid-container .grid-items h2:hover{
   /* color: #FA8405; */
}

#Temple-list .grid-container .grid-items p{
    font-size: 0.75rem;
    text-align: center;
    padding: 0.25rem;
}

#Temple-list .grid-container .grid-items .btn{
    scale: none;
}




/* Footer */
footer{
    background: rgb(53, 53, 53);
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 0.8rem;
}

#main-footer div h3{
    padding: 0.1rem;
    margin: 0.05rem;
    letter-spacing: 0.18rem

}
















/* Media Queries */
@media (max-width: 1140px){

    .grid-container-4{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-container-3{
        grid-template-columns: 1fr 1fr;
    }

    .grid-container .grid-items {
        height: 23rem;
        width: 23rem;
    }

    #Temple-list .grid-container .grid-items{
        width: 18rem;
    }
}

@media (max-width: 1002px){
    .grid-container-4 {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 780px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    #Temple-Page .Page-title p {
        width: 75vw;
    }
}


@media (max-width: 390px){
    header #showcase .poster .content{
        font-size: 90%
    }

    .grid-container .grid-items {
        height: auto;
        width: auto;
    }

    .grid-container .grid-items img {
        height: 14rem;
        width: 14rem;
    }

    #Temple-Page .Page-title p {
        width: 90vw;
    }

    #Temple-list .grid-container .grid-items {
        height: auto;
        width: auto;
    }

    #Temple-list .grid-container .grid-items h2 {
        font-size: 90%;
    }
}

@media (max-width: 315px) {
    header #showcase .poster .content {
        font-size: 65%
    }
}


