/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1, h2, h3{
    padding-bottom: 25px;
    text-transform: capitalize;
}

p{
    margin-bottom: 20px;
}

html, body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.text-primary{
    color:#f7c08a;
}

.lead{
    line-height: 1.5em;
    width: 70vw;
    margin: auto;
    padding: 20px 0px;
}

.btn{
    border: none;
    color: white;
    background-color: #f7c08a;
    padding: 10px;
    display: inline-block;
}

.btn:hover{
    background-color: black;
}

.bg-dark{
    background: #444;
    color: white;
}

.btn-light{
    background-color: white;
    color: #444;
}

.btn-light:hover{
    color: white;
}

#navbar{
    background: black;
    overflow: auto;
    color: white;
}

.logo{ 
    float: left;
    padding: 20px 10px;
    color: white;
    text-align: center;
}

.logo a{
    color: white;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left
}

#navbar ul li a{
    display: block;
    padding: 20px 10px;
    text-align: center;
    color: white; 
}

#navbar ul li a:hover{
    background: #444;
    color: #f7c08a;
}

#showcase{
    background: url( '../Assets/img/showcase.jpg' ) no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

#showcase .showcase-content{
    text-align: center;
    color: white;
    padding-top: 180px;  
    line-height: 1.2em;
    overflow: hidden; 
}

#showcase .showcase-content h2{
    font-size: 35px;
}

#home-info{
    height: 400px;
    overflow: hidden;
}

#home-info .info-img{
    background: url( '../Assets/img/photo-1.jpg' );
    height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content{
    width: 50%;
    float: right;
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 50px 30px;
    line-height: 1.75em;
}

#home-info .info-content p{
    padding-bottom: 15px;
}








